{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container header-container">
    <div class="row mt-4 text-center">
        <!-- Product Image -->
        <div class="col-md-8 mx-auto">
            <h3><strong>Update Your review for:</strong></h3>
            <h4><strong><em class="lead">{{ product.name }}</em></strong></h4>
            <!-- Product Image -->
            {% if product.image %}
            <img class="d-none d-sm-block w-75 mx-auto border border-dark" src="{{ product.image.url }}"
                alt="{{ product.name }}" onerror="this.onerror=null;this.src='{{ MEDIA_URL }}no_image.jpg'">
            {% else %}
            <img class="d-none d-sm-block w-75 mx-auto border border-dark" src="{{ MEDIA_URL }}no_image.jpg"
                alt="{{ product.name }}">
            {% endif %}
            <p class="lead">We value your feedback!</strong></p>
            <form method="post" class="needs-validation" novalidate>
                {% csrf_token %}

                <div class="form-group">
                    <label for="title">Title:</label>
                    <input type="text" class="form-control w-100 p-2 border border-dark rounded" id="title" name="title"
                        value="{{ review.title }}" required>
                    <div class="invalid-feedback">
                        Please provide a title for your review.
                    </div>
                </div>

                <div class="form-group">
                    <label for="content">Write Your Review below:</label>
                    <textarea class="form-control w-100 p-2 border border-dark rounded" id="content" name="content"
                        rows="5" required>{{ review.content }}</textarea>
                    <div class="invalid-feedback">
                        Please provide your review.
                    </div>
                </div>

                <div class="form-group">
                    <label for="rating">Rating:</label>
                    <div class="star-rating">
                        <i class="fas fa-star fa-2x" data-rating="1"></i>
                        <i class="fas fa-star fa-2x" data-rating="2"></i>
                        <i class="fas fa-star fa-2x" data-rating="3"></i>
                        <i class="fas fa-star fa-2x" data-rating="4"></i>
                        <i class="fas fa-star fa-2x" data-rating="5"></i>
                        <input type="hidden" name="rating" id="rating" value="{{ review.rating }}">
                    </div>
                </div>

                <button type="submit" class="btn btn-lg btn-green">Update Review</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>

document.addEventListener('DOMContentLoaded', function () {
    const stars = document.querySelectorAll('.star-rating i');
    const ratingInput = document.getElementById('rating');
    
    let userRating = parseInt(ratingInput.value);

    stars.forEach(star => {
        star.addEventListener('mouseover', function () {
            highlightStars(parseInt(this.dataset.rating));
        });

        star.addEventListener('mouseout', function () {
            highlightStars(userRating);
        });

        star.addEventListener('click', function () {
            const ratingValue = parseInt(this.dataset.rating);
            userRating = ratingValue; // Update userRating
            ratingInput.value = userRating;
            highlightStars(userRating);

            // Add bounce or grow effect
            star.classList.add('selected');
            setTimeout(() => {
                star.classList.remove('selected');
            }, 500);
        });
    });

    // Set initial color based on pre-filled rating
    highlightStars(userRating);

    function highlightStars(rating) {
        stars.forEach(star => {
            if (parseInt(star.dataset.rating) <= rating) {
                star.style.color = 'gold'; // Change to desired color when highlighted
            } else {
                star.style.color = 'black'; // Change to default color when not highlighted
            }
        });
    }
});
</script>

{% endblock %}

