{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">My Profile</h2>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p class="text-muted">Default Delivery Information</p>
            <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-green rounded text-uppercase float-right">Update Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p class="text-muted">Order History</p>
            <div class="order-history table-responsive">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Order Number</th>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>
                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}"
                                    aria-label="Order number link" rel="noopener noreferrer">
                                    {{ order.order_number|truncatechars:6 }}
                                </a>
                            </td>
                            <td>{{ order.date }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    {% for item in order.lineitems.all %}
                                    <li class="small">
                                        {{ item.product.name }} x{{ item.quantity }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>${{ order.grand_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

        </div>
    </div>

    <div class="container mx-auto">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 text-start">
                <div class="product-reviews mt-5">
                    <hr>
                    <h2 class="logo-font mb-4 text-center">My Product Reviews</h2>
                    <hr>
                    <div class="text-center">
                    <button class="btn bg-green logo-font mb-3" id="seeReviewsBtn" style="color: #fff;">Read My Reviews</button>
                </div>
                    <div id="reviewsContainer" style="display: none">
                        <ul class="list-unstyled border border-dark p-3 rounded">
                            {% for review in user_reviews %}
                            <li class="mb-3">
                                <hr>
                                <strong class="logo-font">{{ review.product.name }}</strong> by <em>{{ review.user.username }}</em>
                            </li>
                            <li>
                                {% if review.product.image %}
                                <img src="{{ review.product.image.url }}" alt="{{ review.product.name }}"
                                    class="img-fluid">
                                {% else %}
                                <!-- Handle the case where the product has no image -->
                                <p>No image available</p>
                                {% endif %}
                                <hr>
                            </li>
                            <li class="row">
                                <!-- Rating -->
                                <div class="col-md-4">
                                    <strong class="logo-font">Your rating:</strong>
                                    <br>
                                    {{ review.rating }}
                                </div>
                                <!-- Comments -->
                                <div class="col-md-8">
                                    <strong class="logo-font">Your comments:</strong>
                                    <br>
                                    {{ review.content }}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const seeReviewsBtn = document.getElementById('seeReviewsBtn');
            const reviewsContainer = document.getElementById('reviewsContainer');

            seeReviewsBtn.addEventListener('click', function () {
                if (reviewsContainer.style.display === 'none') {
                    reviewsContainer.style.display = 'block';
                    seeReviewsBtn.textContent = 'Hide Reviews';
                } else {
                    reviewsContainer.style.display = 'none';
                    seeReviewsBtn.textContent = 'Read Reviews';
                }
            });
        });
    </script>

    {% endblock %}