{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- FAQs Container -->
<div class="container-fluid header-container mx-auto w-100">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <hr>
            <h1 class="text-center logo-font display-4 text-black">FAQs</h1>
            <hr>
            <p class="mb-3">All you need to know about delivery, returns, refunds and general info. Click on a question
                to reveal the answer.</p>
            {% for faq in faqs %}
            <div class="card border-0 border-bottom mb-3">
                <div class="card-header" id="header-{{ faq.id }}">
                    <p class="{% if request.user.is_superuser %}my-3{% endif %}">
                        <button class="btn btn-lg shop-now-button" type="button" data-toggle="collapse"
                            data-target="#collapse-{{faq.id}}" aria-expanded="false"
                            aria-controls="collapse-{{faq.id}}">
                            {{faq.question}}
                        </button>
                    </p>
                    <div id="collapse-{{faq.id}}" class="collapse" aria-labelledby="header-{{ faq.id }}">
                        <div class="card-body px-0 pt-3 pb-0">
                            <p>{{faq.answer}}</p>
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                    <div class="mt-3">
                        <a href="{% url 'update_faq' faq.id %}" class="btn btn-primary btn-sm">Update FAQ</a>
                        <button type="button" data-toggle="modal" data-target="#modal-{{ faq.id }}"
                            class="btn btn-danger btn-sm">Delete FAQ</button>
                    </div>
                    {% endif %}
                </div>
            </div>

            <!-- Confirm Delete Modal -->
            <div class="modal fade" id="modal-{{ faq.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header py-3">
                            <h2>Delete FAQ</h2>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="p-3">
                            <p>Are you sure you want to delete the FAQ entry for...
                                <strong>"{{ faq.question }}"</strong></p>
                        </div>
                        <div class="modal-footer pt-0">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="{% url 'remove_faq' faq.id %}" class="btn btn-danger">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            {% if request.user.is_superuser %}
            <hr>
            <h1 class="mb-4 text-center logo-font display-4 text-black">Create a new FAQ</h1>
            <hr>
            <p class="mb-3">Click on this button below and fill out the form to add new FAQs and answers.</p>
            <div class="text-center">
                <a href="{% url 'create_faq' %}" class="shop-now-button btn btn-green btn-lg text-uppercase py-3">Create
                    FAQ</a>
            </div>
            {% endif %}
            <hr>
        </div>
    </div>
</div>

{% endblock %}
