{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <hr>
    <h2 class="logo-font mb-4 text-center">Product Details</h2>
    <hr>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if product.image %}
                <a href="{{ product.image.url }}" target="_blank" rel="noopener noreferrer"
                    aria-label="Product image link" rel="noopener noreferrer">
                    <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                </a>
                {% else %}
                <a href="" aria-label="Product image link" rel="noopener noreferrer">
                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="product-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ product.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold">${{ product.price }}</p>
                {% if product.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}"
                        aria-label="Product Category link">
                        <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                {% if product.rating %}
                <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                {% else %}
                <small class="text-muted">No Rating</small>
                {% endif %}

                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_product' product.id %}" aria-label="Edit Products"
                        rel="noopener noreferrer">Edit</a> |
                    <a class="text-danger" href="{% url 'delete_product' product.id %}" aria-label="Delete Products"
                        rel="noopener noreferrer">Delete</a> |
                    <a class="text-success" href="{% url 'create_reviews' product.id %}" aria-label="Review Products"
                        rel="noopener noreferrer">Review</a>
                </small>
                {% endif %}
                <p class="mt-3">{{ product.description }}</p>
                <form class="form" action="{% url 'add_to_shopping_cart' product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <!-- Decrement Button on product items -->
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-black rounded"
                                            data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-minus"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <input class="form-control qty_input" type="number" name="quantity" value="1"
                                        min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
                                    <!-- Increment button -->
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-black rounded"
                                            data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span class="icon">
                                                <i class="fas fa-plus"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12">
                                <a href="{% url 'products' %}" class="btn btn-outline-black rounded mt-5"
                                    aria-label="Continue Shopping button" rel="noopener noreferrer">
                                    <span class="icon">
                                        <i class="fas fa-chevron-left"></i>
                                    </span>
                                    <span class="text-uppercase">Continue Shopping!</span>
                                </a>
                                <input type="submit" class="btn btn-black rounded text-uppercase mt-5"
                                    value="Add to Cart">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">

                        </div>
                </form>
            </div>
        </div>
    </div>
    <hr>
</div>

<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 text-start">
            <div class="product-reviews">
                <hr>
                <h2 class="logo-font mb-4 text-center">Product Reviews</h2>
                <hr>
                <div class="text-center">
                    <button class="btn bg-black logo-font mb-3" id="seeReviewsBtnProd" style="color: #fff;">Read
                        Reviews</button>
                </div>
                <div id="reviewsContainerProd" style="display: none">
                    {% if reviews %}
                    <ul class="list-unstyled border border-dark p-3 rounded">
                        {% for review in reviews %}
                        <li class="mb-3">
                            <hr>
                            <strong class="logo-font">Author: </strong> <em>{{ review.user.username }}</em>
                        </li>
                        <li class="row">
                            <!-- Rating -->
                            <div class="col-md-4">
                                <strong class="logo-font">Rating: </strong>
                                <br>
                                {{ review.rating }}
                            </div>
                            <!-- Comments -->
                            <div class="col-md-8">
                                <strong class="logo-font">Comments: </strong>
                                <br>
                                {{ review.content }}
                            </div>
                            {% if request.user.is_superuser %}
                            <div class="mt-3">
                                <a href="{% url 'update_reviews' review.id %}" class="btn btn-primary btn-sm">Update
                                    Review</a>
                                    <a href="{% url 'remove_review' review.id %}" class="btn btn-danger btn-sm">Delete Review</a>


                            </div>
                            {% endif %}

                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% else %}
                <p>No reviews for this product yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const seeReviewsBtnProd = document.getElementById('seeReviewsBtnProd');
        const reviewsContainerProd = document.getElementById('reviewsContainerProd');

        seeReviewsBtnProd.addEventListener('click', function () {
            if (reviewsContainerProd.style.display === 'none') {
                reviewsContainerProd.style.display = 'block';
                seeReviewsBtnProd.textContent = 'Hide Reviews';
            } else {
                reviewsContainerProd.style.display = 'none';
                seeReviewsBtnProd.textContent = 'Read Reviews';
            }
        });
    });
</script>

{% endblock %}